// Home —————————————————————————————————————— •
.home {
  .intro {
    text-align: center;
  }

  .cta-button {
    display: inline-block;
    background: #4A90E2;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    font-family: 'brandon-grotesque';
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.2rem;
    color: white;
    padding: 1.5rem 3rem 1.25rem;
    margin: 0 auto;
    border-bottom: 5px solid rgba(0,0,0,0.4);
    text-decoration: none;
    text-align: center;

    &:hover {
      color: white;
      text-decoration: none;
      background: #2F72C1;
    }
  }

  .column-image {
    float: left;
    margin: 0 2rem 2rem -5rem;
    border: 1px solid #2E1803;
    text-align: center;
    font-size: 1rem;
    line-height: 1.3rem;
    background: white;

    img {
      max-width: 400px;
    }

    figcaption {
      padding-bottom: 0.4rem;
    }

    &.big {
      margin-right: 3rem;

      img { max-width: 500px; }
    }

    &.right {
      float: right;
      margin: 0 -7rem 1rem 2rem;
    }
  }

  .renovation ul {
    margin-left: 29rem;
  }

  .links {
    list-style-type: none;
    text-align: center;
    margin-bottom: 3rem;
    padding-left: 0;

    li {
      margin-bottom: 0.5rem;
    }
  }

  .sponsors {
    font-weight: bold;
    text-align: center;

    img { max-width: 100%; }
  }
}


// Home: Tablet —————————————————————————————— •
@include responsive-break-point(1035px) {
  .home {
    .column-image {
      margin-left: 0;

      &.right {
        margin-right: 0;
      }

      &, &.big { img {max-width: 430px;}}
    }
  }
}

@include responsive-break-point(860px) {
  .home {
    .cta-button {
      font-size: 1.6rem;
      line-height: 2rem;
      padding: 1rem 2rem;

    }

    .column-image, .column-image.big {
      float: none;
      margin: 0 auto;
      display: inline-block;
      max-width: 100%;

      img {
        display: block;
        max-width: 100%;
      }
    }

    .column-image.right {
      display: none;
    }

    .renovation ul {
      margin-left: 0;
    }
  }
}

@include responsive-break-point(480px) {
  .home {
    .cta-button {
      font-size: 1.3rem;
      line-height: 1.5rem;
    }
  }
}
