// Home —————————————————————————————————————— •
.home {
  .column-image {
    float: left;
    margin: 0 2rem 2rem -10rem;
    border: 1px solid #2E1803;
    text-align: center;
    font-size: 1rem;
    line-height: 1.6rem;
    background: white;

    img {
      max-width: 400px;
    }

    figcaption {
      padding-bottom: 0.4rem;
    }

    &.big {
      margin-right: 3rem;

      img { max-width: 500px; }
    }

    &.right {
      float: right;
      margin: 0 -10rem 1rem 2rem;
    }
  }

  .renovation ul {
    margin-left: 390px;
  }

  .links {
    list-style-type: none;
    text-align: center;
    margin-bottom: 3rem;

    li {
      margin-bottom: 0.4rem;
    }
  }
}


// Home: Tablet —————————————————————————————— •
@include responsive-break-point(640px) {
  .home {

  }
}
