html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: 700; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background-color: #fff7bc;
  color: #432e17;
  font-family: 'brandon-grotesque', Helvetica, 'Lucida Grande', sans-serif;
  font-size: 1.6rem;
  line-height: 2.0rem;
  position: relative;
  margin: 0 1rem; }

a {
  color: #d0021b; }
  a:hover {
    color: #d0021b; }
  a:active {
    color: #432e17; }

.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  zoom: 1;
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 860px; }
  .content:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

h1 {
  font-family: brandon-grotesque;
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 1.6rem;
  text-align: center;
  font-weight: 400; }

h2 {
  font-family: brandon-grotesque;
  font-size: 2.2rem;
  line-height: 2.6rem;
  margin-top: 3rem;
  margin-bottom: 1.6rem; }

hr {
  border-top: 4px double #432e17;
  height: 0;
  margin: 3rem -9rem 2rem;
  clear: left; }

p {
  margin-bottom: 1.6rem; }

ul {
  padding-left: 1.6rem;
  margin-bottom: 1.6rem; }

section {
  clear: left;
  display: block; }

@media only screen and (max-width: 640px) {
  body {
    font-size: 1.4rem;
    line-height: 1.6rem; }

  h1 {
    font-size: 1.5rem;
    line-height: 1.8rem; }

  h2 {
    font-size: 1.8rem;
    line-height: 2rem; } }
@media only screen and (max-width: 800px) {
  .content {
    max-width: 860px; } }
@media screen and (max-device-width: 480px) {
  html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%; } }
.navigation {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1em auto;
  width: 100%; }

.navigation-home img {
  width: 100%;
  display: block;
  max-width: 465px;
  margin: 0 auto; }

.footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1em auto;
  width: 100%; }

@media only screen and (max-width: 768px) {
  .footer {
    max-width: 960px; } }
.home .intro {
  text-align: center; }
.home .cta-button {
  display: inline-block;
  background: #4A90E2;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  font-family: 'brandon-grotesque';
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.2rem;
  color: white;
  padding: 1.5rem 3rem 1.25rem;
  margin: 0 auto;
  border-bottom: 5px solid rgba(0, 0, 0, 0.4);
  text-decoration: none;
  text-align: center; }
  .home .cta-button:hover {
    color: white;
    text-decoration: none;
    background: #2F72C1; }
.home .column-image {
  float: left;
  margin: 0 2rem 2rem -5rem;
  border: 1px solid #2E1803;
  text-align: center;
  font-size: 1rem;
  line-height: 1.6rem;
  background: white; }
  .home .column-image img {
    max-width: 400px; }
  .home .column-image figcaption {
    padding-bottom: 0.4rem; }
  .home .column-image.big {
    margin-right: 3rem; }
    .home .column-image.big img {
      max-width: 500px; }
  .home .column-image.right {
    float: right;
    margin: 0 -7rem 1rem 2rem; }
.home .renovation ul {
  margin-left: 29rem; }
.home .links {
  list-style-type: none;
  text-align: center;
  margin-bottom: 3rem; }
  .home .links li {
    margin-bottom: 0.4rem; }

@media only screen and (max-width: 640px) {
  .home .cta-button {
    font-size: 1.6rem;
    line-height: 2rem; }
  .home .column-image, .home .column-image.right, .home .column-image.big {
    float: none;
    margin: 0 auto;
    display: inline-block;
    max-width: 100%; }
    .home .column-image img, .home .column-image.right img, .home .column-image.big img {
      display: block;
      max-width: 100%; }
  .home .renovation ul {
    margin-left: 0; } }
