// Navigation ———————————————————————————————— •
.navigation {
  @include border-box;
  margin: 1em auto;
  width: 100%;
}

.navigation-home img {
  width: 100%;
  display: block;
  max-width: 465px;
  margin: 0 auto;
}


// Navigation: Tablet ——————————————————————— •
@include responsive-break-point(860px) {
  .navigation-home img {
    max-width: 400px;
  }
}

@include responsive-break-point(480px) {
  .navigation {
    margin-bottom: 0;
  }

  .navigation-home img {
    max-width: 300px;
  }
}
