// Navigation ———————————————————————————————— •
.navigation {
  @include border-box;
  margin: 1em auto;
  width: 100%;
}

.navigation-home img {
  width: 100%;
  display: block;
  max-width: 465px;
  margin: 0 auto;
}


// Navigation: Desktop ——————————————————————— •
@include responsive-break-point(640px) {
  .navigation-home {
  }
}
